<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30313954522-jmqjm2mddf9grgk5ppl7op0dd67pli4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30313954522-jmqjm2mddf9grgk5ppl7op0dd67pli4v</string>
	<key>API_KEY</key>
	<string>AIzaSyCRxN8pc05xWw-5a2eO7dvMLvfuZ2J_wpU</string>
	<key>GCM_SENDER_ID</key>
	<string>30313954522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riveAnimation</string>
	<key>PROJECT_ID</key>
	<string>imagecap-c97f1</string>
	<key>STORAGE_BUCKET</key>
	<string>imagecap-c97f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30313954522:ios:908f86a993bc64e131f9e3</string>
</dict>
</plist>